@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffffa9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.goal-card {
  background: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.progress-bar {
  height: 20px;
  background: #e0e0e0;
  border-radius: 10px;
  margin: 10px 0;
}

.progress {
  height: 100%;
  border-radius: 10px;
  background: #1cd122;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

input,
select,
button {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background: #11dd18;
  color: white;
  cursor: pointer;
}